<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.caili.boot.dao.BaseDao">
    <select id="getAll" resultType="map"  parameterType="map" >
      select
           *
   from ${tableName}
  </select>

    <select id="findByEntity" resultType="map"  parameterType="map"  >
      select
           *
   from ${tableName} where ${condition}
  </select>

    <select id="getCountByStr" resultType="Integer"  parameterType="map"  >
      select
          count(1)
   from ${tableName} where ${condition}
  </select>

    <select id="list" resultType="map"  parameterType="map"  >
      select
         *
   from ${tableName} where ${condition}  ${pages}
  </select>
</mapper>